{% extends 'main.html' %} {% block content %}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
  }
</style>
<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <hr />

    <div>
      <a href="{% url 'home' %}">All</a>
    </div>

    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h3>{{room_count}} rooms available</h3>
    <a href="{% url 'create-room' %}">Create New Room</a>
    <hr />
    <div>
      {% for room in rooms %}
      <div>
        <span>@{{room.host.username}}</span>
        <p>
          {{ room.id }}.
          <a href="{% url 'room' room.id %}">{{ room.name }}</a>
        </p>
        <i>{{ room.topic.name }}</i><br /><br />
        <small>{{ room.description }}</small><br /><br />
        {% if request.user == room.host %}
        <a href="{% url 'update-room' room.id %}">Edit Room</a>
        <a href="{% url 'delete-room' room.id %}">Delete Room</a>
        {% endif %}
        <hr />
        <br />
      </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <h3>Recent Activity</h3>
  </div>
</div>
{% endblock %}
